fastapi~=0.115.12
uvicorn[standard]
pandas~=2.2.3
google-auth
google-auth-httplib2
google-api-python-client~=2.170.0
python-dotenv
joblib~=1.5.1
scikit-learn~=1.6.1
googletrans~=4.0.2
numpy~=1.26.4
requests~=2.32.3
protobuf~=6.31.0
gensim~=4.3.3
gdrive-utils
